#page {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, serif;
}
header {
  max-width: 1000px;
  width: 100%;
  height: 107px;
  color: #5c5c5c;
  margin: 21px auto;
}
header .logo > div {
  background-image: url(../images/logo.png);
  height: 65px;
  width: 230px;
}
header .call {
  text-align: center;
}
header .call > div {
  font-size: 22px;
}
header .call > .phone {
  font-size: 32px;
}
header .contacts {
  text-align: right;
  font-size: 18px;
  line-height: 22px;
}
header .contacts .phone {
  font-weight: bold;
}
