@import-once "vars";
@media (max-width: 767px) {
  header .row > div {
    padding-bottom: 10px;
  }
  header .logo {
    padding-left: 5%;
  }
  header .logo > div {
    margin: 0 auto;
  }
  header .contacts {
    text-align: center !important;
  }
}
#page {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, serif;
  color: #000;
}
header {
  max-width: 1000px;
  width: 100%;
  color: #5c5c5c;
  margin: 16px auto;
}
header .logo > div {
  background-image: url(../images/logo.png);
  height: 65px;
  width: 230px;
}
header .call {
  text-align: center;
}
header .call > div {
  font-size: 22px;
}
header .call > .phone {
  font-size: 32px;
}
header .contacts {
  text-align: right;
  font-size: 18px;
  line-height: 22px;
}
header .contacts .phone {
  font-weight: bold;
}
#menu {
  background-color: #5c5c5c;
  font-size: 15px;
  padding: 14px 0 8px;
}
#menu nav ul {
  list-style: none;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
}
#menu nav ul > li {
  display: inline-block;
  padding: 0 3%;
  margin-bottom: 6px;
}
#menu nav ul > li a {
  color: #fff;
  border-bottom: 2px dotted;
}
#menu nav ul > li a:hover {
  text-decoration: none;
  border-bottom: none;
}
.row {
  margin: 0 !important;
}
#slogan {
  background: url(../images/house.png) 0px -100px;
  height: 539px;
  background-size: 1320px;
}
#slogan .logo-bg {
  background-image: url(../images/logo-bg.png);
  width: 503px;
  height: 566px;
  margin: 0 4%;
  padding: 105px 0;
  text-align: center;
}
#slogan .logo-bg .heading {
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 55px;
}
#slogan .logo-bg .locations {
  font-size: 40px;
  margin-top: 21px;
  line-height: 61px;
}
