@import-once "vars";

@media (max-width: @screen-xs-max) {
	header{
		.row{
			> div{
				padding-bottom: 10px;
			}
		}
		.logo {
			padding-left: 5%;
			> div{
				margin: 0 auto;
			}
		}
		.contacts{
			text-align: center;
		}
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }
@media (min-width: @screen-lg-min) {  }