@import "vars.less";
@import "mobile.less";

#page{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	font-family: Arial, serif;
}

header{
	max-width: 1000px;
	width: 100%;
	color: #5c5c5c;
	margin: 21px auto;

	.logo{
		> div{
			background-image: url(../images/logo.png);
			height: 65px;
			width: 230px;
		}
	}

	.call{
		text-align: center;

		> div{
			font-size: 22px;
		}

		> .phone{
			font-size: 32px;
		}
	}

	.contacts{
		text-align: right;
		font-size: 18px;
		line-height: 22px;

		.phone{
			font-weight: bold;
		}
	}
}

#menu{
	height: 48px;
	background-color: #5c5c5c;
	font-size: 15px;
	padding: 12px 0;

	nav{
		ul{
			list-style: none;
			overflow: hidden;
			text-align: center;
			margin: 0;
			padding: 0;

			> li{

				display:inline;
				padding: 0 3%;

				a{
					color: #fff;
					border-bottom: 2px dotted;

					&:hover{
						text-decoration: none;
						border-bottom: none;
					}
				}
			}
		}

	}
}